.page-description {
  color: var(--text-color);
  font-weight: 300;
  text-align: left;

  &__main-description {
    font-size: 24px;
    line-height: 16px;
    margin-bottom: 5px;
  }

  &__helper {
    font-size: 13px;
    margin: 0;
  }
}