.select-container {
  position: relative;
  width: 100%;
  max-width: 90px;
  font-family: 'Roboto';
  padding-left: 10px;

  .select {
    border: none;
    padding: 10px;
    appearance: none;
    width: 100%;
    background: var(--detail-color-opaque);
    height: 50px;
  }
  
  &::after {
    pointer-events: none;
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 13px;
    content: "\\/";
    top: 0;
    right: 10px;
    position: absolute;
  }
}

.label {
  color: var(--text-color);
  font-size: 24px;
  text-transform: lowercase;
  margin-bottom: 1px;
  display: flex;
  font-weight: 300;
}