.optional-disclaimer {
  font-weight: 300;
  font-size: 14px;
  padding: 10px 0 0 10px;
  color: var(--text-color);
  
  &__detail {
    color: var(--detail-color)
  }
}

@media (max-height: 529px) {
  .step {
    &__description {
      display: none;
    }
  }
}

